<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>E-cateringsystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Registeration</display-name>
    <servlet-name>Registeration</servlet-name>
    <servlet-class>com.Ecateringsystem.servlet.Registeration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registeration</servlet-name>
    <url-pattern>/Registeration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Registration</display-name>
    <servlet-name>Registration</servlet-name>
    <servlet-class>com.e_catering_system.servlet.Registration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Registration</servlet-name>
    <url-pattern>/Registration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputOTP</display-name>
    <servlet-name>InputOTP</servlet-name>
    <servlet-class>com.e_catering_system.servlet.InputOTP</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputOTP</servlet-name>
    <url-pattern>/InputOTP</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>com.e_catering_system.servlet.Login</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/Login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLogout</display-name>
    <servlet-name>UserLogout</servlet-name>
    <servlet-class>com.e_catering_system.servlet.UserLogout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLogout</servlet-name>
    <url-pattern>/UserLogout</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TempServlet</display-name>
    <servlet-name>TempServlet</servlet-name>
    <servlet-class>com.e_catering_system.servlet.TempServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TempServlet</servlet-name>
    <url-pattern>/TempServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserEditProfile</display-name>
    <servlet-name>UserEditProfile</servlet-name>
    <servlet-class>com.e_catering_system.servlet.UserEditProfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserEditProfile</servlet-name>
    <url-pattern>/UserEditProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ForgetPassword</display-name>
    <servlet-name>ForgetPassword</servlet-name>
    <servlet-class>com.e_catering_system.servlet.ForgetPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ForgetPassword</servlet-name>
    <url-pattern>/ForgetPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetUserNewPassword</display-name>
    <servlet-name>SetUserNewPassword</servlet-name>
    <servlet-class>com.e_catering_system.servlet.SetUserNewPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetUserNewPassword</servlet-name>
    <url-pattern>/SetUserNewPassword</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddProduct</display-name>
    <servlet-name>AddProduct</servlet-name>
    <servlet-class>com.e_catering_system.servlet.AddProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddProduct</servlet-name>
    <url-pattern>/AddProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayUserList</display-name>
    <servlet-name>DisplayUserList</servlet-name>
    <servlet-class>com.e_catering_system.servlet.DisplayUserList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayUserList</servlet-name>
    <url-pattern>/DisplayUserList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductDetails</display-name>
    <servlet-name>GetProductDetails</servlet-name>
    <servlet-class>com.e_catering_system.servlet.GetProductDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductDetails</servlet-name>
    <url-pattern>/GetProductDetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetProductList</display-name>
    <servlet-name>GetProductList</servlet-name>
    <servlet-class>com.e_catering_system.servlet.GetProductList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetProductList</servlet-name>
    <url-pattern>/GetProductList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct</display-name>
    <servlet-name>EditProduct</servlet-name>
    <servlet-class>com.e_catering_system.servlet.EditProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct</servlet-name>
    <url-pattern>/EditProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteProduct</display-name>
    <servlet-name>DeleteProduct</servlet-name>
    <servlet-class>com.e_catering_system.servlet.DeleteProduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteProduct</servlet-name>
    <url-pattern>/DeleteProduct</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProduct2</display-name>
    <servlet-name>EditProduct2</servlet-name>
    <servlet-class>com.e_catering_system.servlet.EditProduct2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProduct2</servlet-name>
    <url-pattern>/EditProduct2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetCategoryList</display-name>
    <servlet-name>GetCategoryList</servlet-name>
    <servlet-class>com.e_catering_system.servlet.GetCategoryList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCategoryList</servlet-name>
    <url-pattern>/GetCategoryList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreatePackageInfo</display-name>
    <servlet-name>CreatePackageInfo</servlet-name>
    <servlet-class>com.e_catering_system.servlet.CreatePackageInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreatePackageInfo</servlet-name>
    <url-pattern>/CreatePackageInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddToPackage</display-name>
    <servlet-name>AddToPackage</servlet-name>
    <servlet-class>com.e_catering_system.servlet.AddToPackage</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddToPackage</servlet-name>
    <url-pattern>/AddToPackage</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDecoration</display-name>
    <servlet-name>AddDecoration</servlet-name>
    <servlet-class>com.e_catering_system.servlet.AddDecoration</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDecoration</servlet-name>
    <url-pattern>/AddDecoration</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetDecorationList</display-name>
    <servlet-name>GetDecorationList</servlet-name>
    <servlet-class>com.e_catering_system.servlet.GetDecorationList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetDecorationList</servlet-name>
    <url-pattern>/GetDecorationList</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetPackageInfo</display-name>
    <servlet-name>GetPackageInfo</servlet-name>
    <servlet-class>com.e_catering_system.servlet.GetPackageInfo</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetPackageInfo</servlet-name>
    <url-pattern>/GetPackageInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetEventList</display-name>
    <servlet-name>GetEventList</servlet-name>
    <servlet-class>com.e_catering_system.servlet.GetEventList</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetEventList</servlet-name>
    <url-pattern>/GetEventList</url-pattern>
  </servlet-mapping>
</web-app>